<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
          <nav class='nav navbar-nav navbar-left' >
            <div class="navbar-brand">Bookers</div>
          </nav>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><a class="glyphicon glyphicon-home home" href="/users/22216"> Home</a></li>
              <li><a class="glyphicon glyphicon-user users" href="/users"> Users</a></li>
              <li><a class="glyphicon glyphicon-book books" href="/books"> Books</a></li>
              <li><a class="glyphicon glyphicon-log-out logout" rel="nofollow" data-method="delete" href="/users/sign_out"> logout</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <% else %>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
      <nav class='nav navbar-nav navbar-left' >
        <div class="navbar-brand">Bookers</div>
      </nav>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="glyphicon glyphicon-home home" href="/"> Home</a></li>
          <li><a class="glyphicon glyphicon-link about" href="/home/about"> About</a></li>
          <li><a class="glyphicon glyphicon-edit sign_up" href="/users/sign_up"> sign up</a></li>
          <li><a class="glyphicon glyphicon-log-in sign_in" href="/users/sign_in"> login</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>

  <footer>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-3 col-xs-offset-9'>
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
</html>
